documents/Benchmarks/RNN/ftag/hls/ftag_gru_hls4ml_prj/myproject_prj/solution1/.autopilot
documents/Benchmarks/RNN/quickdraw/hls/quickdraw_gru_hls4ml_prj/myproject_prj/solution1/.autopilot
documents/Benchmarks/RNN/toptagging/hls/toptagging_gru_hls4ml_prj/myproject_prj/solution1/.autopilot
documents/Benchmarks/RNN/ftag/hls/ftag_gru_testbench_prj/
documents/Benchmarks/RNN/ftag/hls/ftag_gru_handwritten_prj/
documents/Benchmarks/RNN/quickdraw/hls/quickdraw_gru_testbench_prj/
documents/Benchmarks/RNN/toptagging/hls/toptagging_gru_testbench_prj/
