documents/Benchmarks/RNN/quickdraw/hls/*
documents/Benchmarks/RNN/toptagging/hls/*
documents/Benchmarks/RNN/ftag/hls/*

src/hdl/RNN/pkg_gen_gru/weights/
src/hdl/RNN/pkg_gen_gru/gru_basic_weights/
src/hdl/RNN/pkg_gen_gru/*.txt
*.so
*work
settings*
documents/Benchmarks/RNN/ftag/gru_basic.h5
documents/Benchmarks/RNN/ftag/gru_model/gru_basic.h5
*.Xil
src/hdl/waiz-benchmark/handmade-compilation/
src/hdl/waiz-benchmark/alveo-u250-xdc_20210909/
src/hdl/waiz-benchmark/work/

src/hdl/Batchnorm-JetTagging/handmade-compilation/
src/hdl/Batchnorm-JetTagging/python/model_5/
src/hdl/Batchnorm-JetTagging/alveo-u250-xdc_20210909/
src/hdl/Batchnorm-JetTagging/project*
src/hdl/Batchnorm-JetTagging/vivado*